
.banner-counter-digit {
    display: inline-block;
    width: 48px;
    margin: 0 3px;
    padding: 14px 0;
    color: $brand-green;
    background: $brand-light-gray;
    font-size: 26px;
    font-weight: $font-weight-semibold;
    text-align: center;
    border-radius: $border-radius;
}
