//
// Conversion Body (Register)
//

body.body-conversion {
    color: $brand-black;
    background-color: $brand-white;

    .btn-outline-primary, .btn-outline-secondary {
        @extend .btn-outline-success;
    }

    .btn-primary, .btn-secondary {
        @extend .btn-success;
    }

    a {
        color: $brand-green;

        &:hover, &:focus, &:active {
            color: darken($brand-green, 10%);
        }
    }

    h1, h2, h3 { color: $brand-black; }

    .site-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        position: relative;
        padding: $spacer-5 0;

        img.logo {
            position: absolute;
            top: 25px;
            left: 25px;
            width: 192px;
            height: auto;
        }

        @media(max-width: 1699px) {
            img.logo {
                width: 128px;
            }
        }

        @include media-breakpoint-down(lg) {
            img.logo {
                position: static;
                width: 160px;
                margin: 0 auto;
            }
        }
    }

    .maincontent {
        flex: 1;
        padding: 0 0 $spacer-5 0;

        ul.bullet > li {
            margin-bottom: 0.5rem;
            padding-left: 2.75rem;
            font-size: 26px;
            background-image: url('../img/global/logo-uptime-dot.svg');
            background-size: 2rem;
            background-repeat: no-repeat;
            background-position: left 3px;
        }

        .form-container {
            position: relative;
            padding: 2rem 0 0 2rem;

            .gray-box {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                z-index: 1;
                background-color: $brand-light-gray;
                border-radius: 8px;
            }

            .form-box {
                position: relative;
                z-index: 2;
                padding: $spacer-4;
                border-radius: 8px;
                background-color: $brand-white;
                box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.15);
            }

            .form-control {
                border: 1px solid darken($border-color, 10%);
                &::placeholder { color: darken($input-placeholder-color, 8%); }
            }

            @include media-breakpoint-down(xs) {
                padding: 0;

                .gray-box { display: none; }
                .form-box { box-shadow: none; padding: 0; }
            }
        }
    }

    footer {
        padding: 1rem 0;
        background-color: $brand-green;

        .person > img {
            max-height: 224px;
        }

        @include media-breakpoint-down(md) {
            .person > img {
                max-height: 160px;
            }
        }

        .quote {
            flex-shrink: 1.5;
            max-width: 530px;
            margin-left: 60px;
            color: $brand-white;

            h3 {
                font-size: 36px;
                color: $brand-white;
            }

            p {
                font-size: 19px;
            }

            @include media-breakpoint-down(sm) {
                margin-left: 0;
                max-width: none;
            }
        }
    }
}

//
// Accounts Body (Login, Reset Password)
//

body {
    &.body-accounts {
        line-height: 1.6;
        padding: 15px;
        background-color: $brand-green;

        .btn-outline-primary, .btn-outline-secondary {
            @extend .btn-outline-success;
        }

        .btn-primary, .btn-secondary {
            @extend .btn-success;
        }

        a {
            color: $brand-green;

            &:hover, &:focus, &:active {
                color: darken($brand-green, 10%);
            }
        }

        .logo {
            top: 30px;
            left: 30px;
        }

        .messages {
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            z-index: 5;
        }

        .form {
            background-color: $white;
            box-shadow: 0 0 40px 0 rgba(0,0,0,0.10);
        }

        .fullscreen {
            margin-top: 60px;
        }

        @include media-breakpoint-up(lg) {
            .fullscreen {
                height: 94vh;
                margin-top: 0;
            }

            .table-container {
                display: table;
                width: 100%;
                height: 100%;
                position: relative;
            }

            .table-cell {
                display: table-cell;
            }

            .v-middle {
                vertical-align: middle;
            }
        }
    }
}

//
// Marketing Body
//

body {
    &.body-marketing {
        background-color: $light-2;
    }

    &.body-white {
        background-color: white;
    }
}

//
// Marketing header background images (Careers, Enterprise Banner)
//

.bg-image-1 {
    background-image: url('../img/global/bg-1.png');
    background-repeat: no-repeat;
    background-position: right 24px;
}

.bg-image-squares {
    background: $brand-green url('../img/global/bg-squares.svg') repeat-x center bottom;
    background-size: 41%;
}

.bg-image-home {
    background-size: cover;
    background-image: url('../images/Uptime_Monitoring_Trusted_By_Thousands_BG.webp') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.trust-image-home {
    max-height: 150px;
}


//
// Headings
//

.body-marketing h1.heading {
    margin: $spacer-5 0;
    font-size: 32px;
    font-weight: $font-weight-semibold;
    text-align: center;
    color: $dark-3;

    > small {
        @extend .text-muted;
        display: block;
        margin-top: $spacer-2;
        font-size: 20px;
        font-weight: $font-weight-normal;
    }
}

.marketing {
    
    h1.heading {
        font-size: 44px;
        font-weight: $font-weight-medium;
        color: black;

        > small {
            @extend .text-muted;
            display: block;
            margin-top: $spacer-2;
            font-size: 20px;
            font-weight: $font-weight-normal;
        }
    }

    p.subheading {
        font-size: 24px;
        font-family: 'Barlow';
        color: black;
    }

    p.label {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        font-size: 1rem;
        opacity: 0.8;
    }

    p.quote {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.1;
    }

    hr {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        height: 3px;
        background-color:#efc41a;
    }
}

//
// Marketing standard elements
//

.body-marketing {
    .text-primary {
        color: $brand-green !important;
    }

    .bg-primary, .bg-secondary {
        background-color: $brand-green !important;
    }

    .bg-primary-fade { background-color: rgba($brand-green, 0.06) !important; }

    .border-color-primary {
        border-color: $brand-green !important;
    }

    .btn {
        font-weight: $font-weight-semibold;
        font-size: 14px;
        line-height: 20px;
        padding: .5625rem 2.25rem;
    }

    .btn-lg {
        font-size: 16px;
        line-height: 24px;
    }

    .btn-outline-primary, .btn-outline-secondary {
        @extend .btn-outline-success;
    }

    .btn-primary, .btn-secondary {
        @extend .btn-success;
    }
}

//
// Banners
//

.banner {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    @extend .align-items-center;

    min-height: 370px;
}

//
// Listing Table
//

.listing-table {
    color: #78849c;

    thead th, tbody td {
        border: 0;
    }

    thead th {
        color: #767d8c;
        background: #f4f5f7;
        font-size: 12px;
        text-transform: uppercase;
    }

    tbody tr:nth-child(even) td {
        background: #f9fafb;
    }
}

//
// Special Icons
//

.heading-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: $brand-green;
    background: rgba($brand-green, 0.09);
    border-radius: $border-radius;
}
