.footer-global-row-0-force-full-width-section > .row-fluid {
  max-width: none !important;
}
/* HubSpot Non-stacked Media Query Styles */
@media (min-width:768px) {
  .dnd_area-row-0-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .dnd_area-row-1-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310722971862-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_16310722971862-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1631680165618-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1631680165618-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_16316801384672-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_16316801384672-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1631680149646-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1631680149646-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .footer-global-row-0-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .footer-global-module-1-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .footer-global-module-1-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
}
/* HubSpot Styles (default) */
.dnd_area-row-0-padding {
  padding-top: 60px !important;
  padding-bottom: 10px !important;
}
.dnd_area-row-1-padding {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.dnd_area-row-2-padding {
  padding-top: 50px !important;
  padding-bottom: 60px !important;
}
.footer-global-row-0-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}