$base-blue: #1276CB;
$medium-blue: #D1EBFF;
$light-blue: #EDF7FF;
$light-gray: #DFE0E1;
$medium-gray: #8E9497;
$dark-gray: #202A2E;

.bt-input {
    //padding: 0.75rem 1rem;
    line-height: 1.5;
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height: 50px;
    //width: 100%;
}

.bt-input.focused {
    border-color: #0074ce;
    outline: 0;
    box-shadow: none !important;
}

.bt-input.braintree-hosted-fields-invalid {
    border-color: #dc3545 !important;
}

.PromoCode {
    color: $base-blue;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    cursor: pointer;
    input {
        height: 32px;
        padding-right: 30px;
    }
    button {
        height: 32px;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}

.StepInput {
    display: flex;
    width: 84px;
    height: 24px;
    line-height: 100%;
    font-size: 16px;
    a {
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid $light-gray;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        color: $medium-gray;
        padding: 0;
        line-height: 14px;
        text-align: center;
    }
    .value {
        margin-left: 5px;
        margin-right: 5px;
        width: 36px;
        text-align: center;
    }
}

.PaymentMethodForm {
    .bt-input {
        height: 40px;
        width: inherit;
        padding-left: 10px;
    }

    #braintree-paypal-button {
        display: none !important;
    }

    #braintree-paypal-loggedin {
        display: none !important;
    }

    a {
        cursor: pointer;
    }

    .PaymentMethod {
        width: 100%;
        border: 1px solid $light-gray;
        border-radius: 4px;
        padding: 20px;

        strong {
            display: block;
            font-weight: 600;
            font-size: 16px;
            color: $dark-gray;
            margin-bottom: 20px;
        }

        img {
            max-height: 24px;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .PaymentMethodSelector {
        height: 40px;
        margin-left: 0;
        margin-right: 0;

        div {
            border: 1px solid $light-gray;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            cursor: pointer;
            text-align: center;
            padding-top: 0.6em;

            &:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-of-type {
                border-left: none;
                &.selected {
                    border-left: 1px solid;
                }
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &.selected {
                border-color: $base-blue;
                background: rgba(18, 118, 203, 0.1);
                color: $base-blue;
            }
        }

    }
}

.SubscriptionPage {
    max-width: 960px;
    small {
        display: block;
        font-weight: normal;
        font-size: 14px;
        color: $medium-gray;
    }

    .SubscriptionCheckoutPage {
        h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
        }

        .PurchaseSummaryBox {
            border: 1px solid $light-gray;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;

            h4 {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height, or 125% */

                letter-spacing: -0.02em;

                /* black/900 */

                color: $dark-gray;
            }
        }
    }

    .SubscriptionCustomizePage {
        line-height: 130%;
        letter-spacing: -0.02em;

        input:checked + .toggle-switch-slider {
            background-color: $base-blue;
        }

        input:focus + .toggle-switch-slider {
            box-shadow: 0 0 0 0.2rem rgba(67, 132, 200, 0.5)
        }

        .SummaryPanel {
            position: fixed;
            height: 80px;
            background: #17252C;

            .SummaryIcon {
                background: $base-blue;
            }

            &.row {
                margin-left: 0;
                margin-right: 0;
            }

            @media only screen and (min-width: 780px) {
                bottom: 20px;
                width: 960px;
                border: 1px solid $base-blue;
                box-sizing: border-box;
                box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(5px);
                border-radius: 4px;
            }

            @media only screen and (max-width: 768px) {
                right: 0;
                bottom: 0;
                left: 0;

            }

            .col-vertical-center {
                display: flex;
                align-items: center;
                justify-items: center;

                button {
                    margin-left: auto;
                }
            }

            .col-prices {
                color: #F8F9FA;
                padding-top: 15px;
                font-size: 16px;
                line-height: 168%;
                letter-spacing: -0.02em;

                span.price {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 130%;
                    letter-spacing: -0.02em;

                    &.discounted {
                        color: #8C9599;
                        font-weight: normal;
                        text-decoration-line: line-through;
                    }
                }
            }

            .toggle-switch {
                -webkit-transform: scale(0.7);
            }
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
        }

        small {
            display: block;
            font-weight: normal;
            font-size: 14px;
            color: $medium-gray;
        }

        .section-row {
            @media only screen and (max-width: 480px) {
                h5 {
                    font-weight: normal;
                }
                .col-included {
                    border-left: 1px solid $light-gray;
                    border-top: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;

                }
                .col-added {
                    border: 1px solid $light-gray;
                }
                .col-additional-cost {
                    border-top: 1px solid $light-gray;
                    border-right: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }
            .val-column {
                text-align: center;

                .StepInput {
                    margin-left: auto;
                    margin-right: auto;
                }

                small {
                    font-size: 12px;
                }
            }
        }


        .ContactUs {
            &.row {
                padding-left: 15px;
                padding-right: 15px;
            }
            label {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 130%;
                color: $dark-gray;
            }

            .left-column {
                border: 1px solid $light-gray;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .right-column {
                border: 1px solid $light-gray;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: $light-blue;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 200%;
                letter-spacing: -0.01em;
                color: $dark-gray;
                padding-left: 30px;
                padding-top: 47px;

                ul {
                    padding-left: 20px;
                }
            }
        }

        .PresetBox {
            h3 {
                font-size: 16px;
                font-weight: 600;
            }
            cursor: pointer;
            font-size: 14px;
            color: $dark-gray;
            border: 1px solid $light-gray;
            border-radius: 4px;
            height: 152px;
            position: relative;

            .TickBox {
                display: none;
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
                padding: 2px;
                font-size: 10px;
                background: $base-blue;
                border-top-left-radius: 4px;
                width: 20px;
                height: 20px;
                text-align: center;
            }

            &.selected {
                border-color: $base-blue;
                background: $light-blue;
                .TickBox {
                    display: block;
                }
                h3 {
                    color: $base-blue;
                }
            }

            .dont-miss-out {
                position: absolute;
                left: 50px;
            }

        }
    }

}

.SubscriptionQuoteModal {
    .modal-header {
        display: none;
    }
}

.SubscriptionQuote {
    color: $dark-gray;

    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 29px;
        line-height: 29px;
    }

    .totals {
        background: #F8F9FA;
        border-top: 3px solid #DFE0E1;
        margin-top: 40px;
    }

    a {
        cursor: pointer;
        text-decoration: underline;
    }
}

.FeaturesBox {
    border: 2px solid;
    border-color: #C6C8CA;

    .title-pane {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid #C6C8CA;
        margin-left: -1px;
        margin-right: -1px;

    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    &.selected {
        border-color: $base-blue;
        .title-pane {
            background: $medium-blue;
        }
    }

    border-radius: 4px;

    .title {
        height: 64px;
        padding-top: 20px;
        &.selected {
            background: $medium-blue;
        }
    }

    i {
        color: #109E92;
    }

    .features {
        line-height: 200%;
        font-size: 14px;
        font-weight: normal;
    }
}


// Hack to make modal printable
@media print {
    body.modalprinter * {
        visibility: hidden;
    }

    body.modalprinter .modal-dialog.focused {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        max-width: inherit;
        width: 100%;
    }

    body.modalprinter .modal-dialog.focused .modal-content {
        border-width: 0;
    }

    body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body * {
        visibility: visible;
    }

    body.modalprinter .modal-dialog.focused .modal-content .modal-header,
    body.modalprinter .modal-dialog.focused .modal-content .modal-body {
        padding: 0;
    }

    body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title {
        margin-bottom: 20px;
    }

    .d-p-none {
        display: none;
    }
}