<div class="justify-content-center my-5 d-none d-md-flex">
  <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="/images/g2_summer19.png" class="trust-image-home"></a></div>
  <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="images/g2_fall20.png" class="trust-image-home"></a></div>
  <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="images/techradar_20.png" class="trust-image-home"></a></div>
  <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="images/g2_winter21.png" class="trust-image-home"></a></div>
  <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="images/g2_spring22.png" class="trust-image-home"></a></div>
</div>
<div class="row justify-content-center mt-5 d-xs-flex d-sm-flex d-md-none">
  <div class="col-auto uptime-drop-shadow">
    <img 
    src="/images/Top_Rated_Monitoring_By_G2_Crowd_Trusted_For_Years_SP22_DT.webp" 
    class="trust-image-home"
    />
  </div>
</div>