{% macro cta_top(title, subheading, src) -%}
<div class="container bg-white mt-5">
  <div class="row">
    <div class="col-sm">
      <h1 class="heading mt-md-5">{{ title }}</h1>
      <p class="subheading">{{ subheading }}</p>
      <div class="mt-3">
        <form action="https://formkeep.com/f/f2f97f761a60"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              method="POST">
          <div class="form-group cta subheading">
            <input type="hidden" name="utf8" value="✓">
            <input type="email" id="email-address" name="email" placeholder="Enter Your Work Email*" class="form-control-lg mt-3 mb-4">
            <button type="button" class="btn btn-success btn-lg">Try For Free</button>
          </div>
        </form>
      </div>
      <div class="mt-3">
        <p class="subheading">Have questions? <a href="/request-demo">Get a live demo.</a></p>
      </div>
    </div>
    <div class="col-sm">
      <img loading="lazy" src="{{ src }}" class="img-fluid">
    </div>
  </div>
</div>
{%- endmacro %}