{% macro cta_bottom(title, bullets, bg_color='bg-success') -%}
<div class="container-fluid mt-5 bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-5">
        <h2 class="text-success">{{ title }}</h2>
        <ul class="subheading">
          {% for bullet in bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
        <hr class="mt-5 ml-0 {{ bg_color }}">
      </div>
      <div class="col my-auto">
        <form action="https://formkeep.com/f/56c9dab62d63"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              method="POST">
          <input type="hidden" name="utf8" value="✓">
          <div class="row">
            <div class="form-group col cta subheading" id="First_Name__div">
              <label title="required" for="First_Name">First Name *</label>
              <input type="text" name="First Name" id="First_Name" required="required" class="form-control">
            </div>
            <div class="form-group col cta subheading" id="Last_Name__div">
              <label title="required" for="Last_Name">Last Name *</label>
              <input type="text" name="Last Name" id="Last_Name" required="required" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col cta subheading" id="Email__div">
              <label title="required" for="Email">Email *</label>
              <input type="email" name="Email" id="Email" required="required" placeholder="example@example.com" class="form-control">
            </div>
            <div class="form-group col cta subheading" id="Phone__div">
              <label title="required" for="Phone">Phone *</label>
              <input type="tel" name="Phone" id="Phone" required="required" placeholder="123-456-7890" class="form-control">
            </div>
          </div>
          <button type="button" class="btn btn-success btn-lg mt-2">Start Free Trial</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}