<div class="bg-green" style="">
  <div class="container py-6" style="">
    <div class="row align-items-center text-center text-md-left" style="">
      <div class="col-md-9" style="">
        <h2 class="font-weight-bold text-white" style="">Start your 21-day free trial today</h2>
        <p class="text-white lead mb-4 mb-md-0" style="">100% free, no credit card required</p>
      </div>
      <div class="col-md-3 text-md-right" style="">
        <a href="/accounts/register" class="btn btn-outline-white btn-lg" style="">Start Free Trial</a>
      </div>
    </div>
  </div>
</div>
