{% macro cta_top(title, subheading, src) -%}
<div class="container bg-white mt-5">
  <div class="row">
    <div class="col-sm">
      <h1 class="heading mt-md-5">{{ title }}</h1>
      <p class="subheading">{{ subheading }}</p>
      <div class="mt-3">
        <!-- more info: https://legacydocs.hubspot.com/docs/methods/forms/advanced_form_options -->
        <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "5040532",
            formId: "bcaf64cc-f7aa-4a77-9308-007ee66a2f7c",
            redirectUrl: "https://uptime.com/accounts/register",
            cssClass: "form-group cta subheading",
            submitButtonClass: "btn btn-success btn-lg w-25 mt-3",
          });
        </script>
      </div>
      <div class="mt-3">
        <p class="subheading">Have questions? <a href="/request-demo">Get a live demo.</a></p>
      </div>
    </div>
    <div class="col-sm">
      <img loading="lazy" src="{{ src }}" class="img-fluid">
    </div>
  </div>
</div>
{%- endmacro %}
