{% macro cta_bottom(title, bullets, bg_color='bg-success') -%}
<div class="container-fluid mt-5 bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-5">
        <h2 class="text-success">{{ title }}</h2>
        <ul class="subheading">
          {% for bullet in bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
        <hr class="mt-5 ml-0 {{ bg_color }}">
      </div>
      <div class="col my-auto">
        <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "5040532",
            formId: "5b9d60b3-043b-4ff5-b5c1-ea231176e8ed",
            redirectUrl: "https://uptime.com/accounts/register",
            cssClass: "form-group cta",
            submitButtonClass: "btn btn-success btn-lg mt-2",
          });
        </script>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
