<div data-global-resource-path="UptimeDotCom/templates/partials/footer.html">
  <div class="container-fluid">
     <div class="row-fluid-wrapper">
        <div class="row-fluid">
           <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
              <div class="row-fluid-wrapper row-depth-1 row-number-1 footer-global-row-0-padding dnd-section footer-global-row-0-force-full-width-section footer-global-row-0-vertical-alignment">
                 <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-custom_widget dnd-module footer-global-module-1-vertical-alignment" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                       <div id="hs_cos_wrapper_footer-global-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                          <footer class="footer atmc-parallax  " style="
                             background-color:#E9E7F3;
                             ">
                             <div class="atmc-site-footer">
                                <div class="atmc-container">
                                   <div class="row-fluid">
                                      <div class="span3 mb:mb-8">
                                         <div class="">
                                            <h4 class="atmc-site-footer_heading mb-4">Connect</h4>
                                            <div class="atmc-sitefooter_menu">
                                               <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                                  <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                     <ul role="menu">
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://twitter.com/UptimeDotCom" role="menuitem" target="_self">Twitter</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://www.facebook.com/uptimemonitor" role="menuitem" target="_self">Facebook</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://www.linkedin.com/company/uptime-com/" role="menuitem" target="_self">LinkedIn</a></li>
                                                     </ul>
                                                  </div>
                                               </span>
                                            </div>
                                         </div>
                                         <div class="mt-8">
                                            <h4 class="atmc-site-footer_heading mb-4">Apps</h4>
                                            <div class="atmc-sitefooter_menu">
                                               <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                                  <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                     <ul role="menu">
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://itunes.apple.com/us/app/uptime-com-website-monitoring/id1176754968" role="menuitem" target="_self">iOS Download</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://play.google.com/store/apps/details?id=com.apppartner.uptime.uptime" role="menuitem" target="_self">Android Download</a></li>
                                                     </ul>
                                                  </div>
                                               </span>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="span3 mb:mb-8">
                                         <div class="">
                                            <h4 class="atmc-site-footer_heading mb-4">Company</h4>
                                            <div class="atmc-sitefooter_menu">
                                               <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                                  <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                     <ul role="menu">
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/about" role="menuitem" target="_self">About</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/team" role="menuitem" target="_self">Team</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://uptime.com/careers" role="menuitem" target="_self">Careers</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/customers" role="menuitem" target="_self">Customers</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/contact" role="menuitem" target="_self">Contact</a></li>
                                                     </ul>
                                                  </div>
                                               </span>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="span3 mb:mb-8">
                                         <div class="">
                                            <h4 class="atmc-site-footer_heading mb-4">Updates</h4>
                                            <div class="atmc-sitefooter_menu">
                                               <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                                  <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                     <ul role="menu">
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/status" role="menuitem" target="_self">Popular Sites Uptime</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://newsroom.uptime.com/" role="menuitem" target="_self">Newsroom</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://uptime.com/changelog" role="menuitem" target="_self">Release Notes</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://status.uptime.com" role="menuitem" target="_self">Uptime.com Status</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/quickstart-guide" role="menuitem" target="_self">Quick Start Guide</a></li>
                                                     </ul>
                                                  </div>
                                               </span>
                                            </div>
                                         </div>
                                      </div>
                                      <div class="span3 mb:mb-8">
                                         <div class="">
                                            <h4 class="atmc-site-footer_heading mb-4">Legal</h4>
                                            <div class="atmc-sitefooter_menu">
                                               <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                                  <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                     <ul role="menu">
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/gdpr" role="menuitem" target="_self">GDPR</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/privacy-policy" role="menuitem" target="_self">Privacy Policy</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/terms-and-conditions" role="menuitem" target="_self">Terms and Conditions</a></li>
                                                        <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/uptime-bot" role="menuitem" target="_self">Uptime Bot</a></li>
                                                     </ul>
                                                  </div>
                                               </span>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="atmc-footer" style="background-color:#E9E7F3;">
                                <div class="atmc-container">
                                   <div class="row-fluid">
                                      <div class="span7">
                                         <div class="footer__copyright">
                                            Copyright © 2014-2022&nbsp; |&nbsp; <a href="/">Uptime.com</a> &nbsp;|&nbsp;&nbsp;All rights reserved
                                         </div>
                                      </div>
                                      <div class="span5">
                                         <div class="atmc-footer_menu">
                                            <span id="hs_cos_wrapper_footer-global-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                               <div id="hs_menu_wrapper_footer-global-module-1_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                  <ul role="menu">
                                                     <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="tel:877-910-3129" role="menuitem" target="_self">877-910-3129</a></li>
                                                     <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="mailto:support@uptime.com" role="menuitem" target="_self">support@uptime.com</a></li>
                                                  </ul>
                                               </div>
                                            </span>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </footer>
                       </div>
                    </div>
                    <!--end widget-span -->
                 </div>
                 <!--end row-->
              </div>
              <!--end row-wrapper -->
           </div>
           <!--end widget-span -->
        </div>
     </div>
  </div>
</div>