<footer class="site-footer-new">
   <div class="site-footer-new-main">
     <div class="container">
       <div class="row">
         <div class="col-12 col-lg-3 mb-4 mb-lg-0">
           <h4>Connect</h4>
           <ul class="list-unstyled mb-4">
             <li><a target="_blank" href="https://twitter.com/UptimeDotCom">Twitter</a></li>
             <li><a target="_blank" href="https://www.facebook.com/uptimemonitor">Facebook</a></li>
             <li><a target="_blank" href="https://www.linkedin.com/company/uptime-com/">LinkedIn</a></li>
           </ul>
           <h4 class="pt-2">Apps</h4>
           <ul class="list-unstyled mb-0">
             <li><a target="_blank" href="https://itunes.apple.com/us/app/uptime-com-website-monitoring/id1176754968">iOS Download</a></li>
             <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.apppartner.uptime.uptime">Android Download</a></li>
           </ul>
         </div>
         <div class="col-12 col-lg-3 mb-4 mb-lg-0">
           <h4>Company</h4>
           <ul class="list-unstyled mb-0">
             <li><a href="{{ SITEURL }}/go/about">About</a></li>
             <li><a href="{{ SITEURL }}/go/team">Team</a></li>
             <li><a href="{{ SITEURL }}/careers">Careers</a></li>
             <li><a href="{{ SITEURL }}/go/customers">Customers</a></li>
             <li><a href="{{ SITEURL }}/contact">Contact</a></li>
           </ul>
         </div>
         <div class="col-12 col-lg-3 mb-4 mb-lg-0">
           <h4>Updates</h4>
           <ul class="list-unstyled mb-0">
             <li><a target="_blank" href="https://uptime.com/status">Popular Sites Uptime</a></li>
             <li><a target="_blank" href="https://newsroom.uptime.com/">Newsroom</a></li>
             <li><a target="_blank" href="https://uptime.com/blog/">Blog</a></li>
             <li><a target="_blank" href="https://support.uptime.com">Documentation</a></li>
             <li><a target="_blank" href="https://uptime.com/changelog">Release Notes</a></li>
             <li><a target="_blank" href="https://status.uptime.com">Uptime.com Status</a></li>
             <li><a target="_blank" href="{{ SITEURL }}/go/quickstart-guide">Quick Start Guide</a></li>
           </ul>
         </div>
         <div class="col-12 col-lg-3 mb-4 mb-lg-0">
           <h4>Legal</h4>
           <ul class="list-unstyled mb-0">
             <li><a href="{{ SITEURL }}/go/gdpr">GDPR</a></li>
             <li><a href="{{ SITEURL }}/go/privacy-policy">Privacy Policy</a></li>
             <li><a href="{{ SITEURL }}/go/terms-and-conditions">Terms &amp; Conditions</a></li>
             <li><a href="{{ SITEURL }}/go/uptime-bot">Uptime Bot</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="site-footer-new-copyright">
     <div class="container">
       <div class="d-lg-flex justify-content-between align-items-center">
         <div class="mb-3 mb-lg-0">Copyright © 2014-2022 Uptime.com. All rights reserved.</div>
         <div class="mb-3 mb-lg-0"><img src="{{ SITEURL }}/img/global/logo-uptime-avatar-green.svg" width="54" height="54" alt=""></div>
         <div>
           <ul class="list-unstyled mb-0">
             <li><a href="tel:8779103129">877-910-3129</a></li>
             <li><a href="mailto:support@uptime.com">support@uptime.com</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </footer>