{% macro free_tools_top(note, title, desc, content, img) -%}
<div class="bg-green py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-4 mb-md-0" style="padding: 2px 0;">
          <h2 class="font-24 font-weight-semibold text-white"># of pages analyzed (and counting)...</h2>
          <p class="text-white mb-0" style="opacity: 0.65;">ensure your site is optimized for the speed visitors expect.</p>
        </div>
        <div class="col-md-7">
          <div data-counter="" data-start="231000000" data-rate="1767.34" class="d-flex h-100 justify-content-md-end align-items-center"><span class="banner-counter-digit ml-3">3</span><span class="banner-counter-digit">4</span><span class="banner-counter-digit">7</span><span class="banner-counter-digit ml-3">7</span><span class="banner-counter-digit">4</span><span class="banner-counter-digit">4</span><span class="banner-counter-digit ml-3">0</span><span class="banner-counter-digit">6</span><span class="banner-counter-digit">1</span></div>
        </div>
      </div>
    </div>
  </div>
  {%- endmacro %}
