<header class="atmc-header atmc-header_absolute_sticky atmc-header-default atmc-header-dark">
  <div class="atmc-header_container">
    <div class="atmc-header_logo">
      <a href="/" class="atmc-header_logo_dark">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/FT_SignUp_SplashPage_HorizontalLogo.png" alt="FT_SignUp_SplashPage_HorizontalLogo" width="100%" style="max-width: 225px; max-height: 50px">
      </a>
    </div>
    <div class="atmc-header_menu-wrapper">
      <div class="atmc-header_navigation">
        <div class="atmc-header_menu">
          <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="69722131805" aria-label="Navigation Menu">
            <ul role="menu">
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/products" role="menuitem">Products</a></li>
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/pricing" role="menuitem">Pricing</a></li>
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/resources" role="menuitem">Resources</a></li>
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/go/enterprise" role="menuitem">Enterprise</a></li>
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/login" role="menuitem">Sign In</a></li>
              <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/accounts/register" role="menuitem">Try For Free</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="atmc-header_right">
      <div class="atmc-header_language-switcher-wrapper h-full"></div>
      <a href="/login?hsLang=en" class="atmc-btn atmc-btn-m atmc-btn-outline-primary text-primary font-medium">Sign In</a>
      <a href="/accounts/register?hsLang=en" class="atmc-btn atmc-btn-m atmc-btn-primary text-white font-medium">Try For Free</a>
    </div>
    <div class="atmc-mega-menu">
      <div class="atmc-mega-menu_box atmc-mega-menu_box-simple text-white atmc-mega-menu_box-col atmc-bg-gray700" data-target="0">
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/products#products" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Products</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/products/monitoring" role="menuitem" target="_self">Uptime Monitoring</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/alerting" role="menuitem" target="_self">Alerting</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/reporting" role="menuitem" target="_self">Reporting</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/real-user-monitoring" role="menuitem" target="_self">Real User Monitoring</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/status-pages" role="menuitem" target="_self">Status Pages</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/integrations" role="menuitem" target="_self">Integrations</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/go/solutions#compare" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Compare</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/datadog-compare" role="menuitem" target="_self">Datadog</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/pingdom-compare" role="menuitem" target="_self">Pingdom</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/site24x7-compare" role="menuitem" target="_self">Site24x7</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/uptimerobot-compare" role="menuitem" target="_self">UptimeRobot</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/uptrends-compare" role="menuitem" target="_self">Uptrends</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/solutions#compare" role="menuitem" target="_self">See More</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/go/products#industry" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Industries</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/ecommerce-websites-uptime" role="menuitem" target="_self">Ecommerce</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/edu-websites-uptime" role="menuitem" target="_self">Education</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/financial-websites-uptime" role="menuitem" target="_self">Financial</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/it-services-uptime" role="menuitem" target="_self">IT Services</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/saas-websites-uptime" role="menuitem" target="_self">Software (SaaS)</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </div>
      <div class="atmc-mega-menu_box atmc-mega-menu_box-simple text-white atmc-mega-menu_box-col atmc-bg-gray700" data-target="2">
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/go/resources#support" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Support</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://support.uptime.com/hc/en-us" role="menuitem" target="_self">Help Desk</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/api/v1/docs/" role="menuitem" target="_self">API Documentation</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uptime.com/go/quickstart-guide?hsLang=en" role="menuitem" target="_self">Quick Start Guide</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/go/resources#free-tools" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Free Tools</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/domain-health" role="menuitem" target="_self">Domain Health Test</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/freetools/website-speed-test" role="menuitem" target="_self">Website Speed Test</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/freetools/global-uptime-test" role="menuitem" target="_self">Global Uptime Test</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
          <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
            <div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="/go/resources#insights" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Insights</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uptime.com/blog" role="menuitem" target="_self">Blog</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/success-stories" role="menuitem" target="_self">Customer Stories</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>