<header class="site-header-new sticky-top">
  <nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="https://uptime.com"><img class="img-fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/global/logo-uptime-dark.svg" width="203" height="28" style="margin: -6px 6px 0 6px;" alt="Uptime.com Logo"></a>
      <div class="d-lg-none text-nowrap">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <img class="closed" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/global/header-menu-toggle.svg" width="26" height="24" alt="Toggle Menu">
        <img class="opened" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/global/header-menu-toggle-close.svg" width="26" height="24" alt="Toggle Menu">
        </button>
      </div>
      <div class="d-none d-lg-block" style="margin-left: -22px;">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/products">Products</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/pricing">Pricing</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/resources">Resources</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/enterprise">Enterprise</a></li>
        </ul>
      </div>
      <div class="d-none d-lg-block">
        <a class="btn btn-outline-primary" style="margin-right: 0.75rem;" href="https://uptime.com/login">Sign In</a>
        <a class="btn btn-primary" href="https://uptime.com/accounts/register">Try For Free</a>
      </div>
    </div>
  </nav>
  <div class="collapse navbar-collapse d-lg-none" id="header-navbar">
    <div class="container pb-4">
      <ul class="navbar-nav mx-auto mb-4">
        <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/products">Products</a></li>
        <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/pricing">Pricing</a></li>
        <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/resources">Resources</a></li>
        <li class="nav-item dropdown"><a class="nav-link" href="{{ SITEURL }}/go/enterprise">Enterprise</a></li>
      </ul>
      <a class="btn btn-outline-primary" style="margin-right: 0.75rem;" href="https://uptime.com/login">Sign In</a>
      <a class="btn btn-primary" href="https://uptime.com/accounts/register">Try For Free</a>
    </div>
  </div>
</header>