{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-image-home p-5">
  <h1 class="text-center text-white">Uptime Means <img src="{{ SITEURL }}/images/home/Uptime_Means_No_More_404_and_Peace_of_Mind_for_Customers_DT.gif" width="330" style="max-width: 330px; margin-bottom: 24px;"></h1>
   <p class="subheading text-center text-white">Trusted by thousands of websites to check downtime, page speed, and domain health.</p>
   <div class="d-flex justify-content-center my-5">
     <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/home/g2_summer19.png" class="trust-image-home"></a></div>
     <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/home/g2_fall20.png" class="trust-image-home"></a></div>
     <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/home/techradar_20.png" class="trust-image-home"></a></div>
     <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/home/g2_winter21.png" class="trust-image-home"></a></div>
     <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/home/g2_spring22.png" class="trust-image-home"></a></div>
   </div>
 </div>
 <div class="container-fluid bg-white p-5 mb-5">
   <p class="subheading text-center text-success font-weight-medium">Trusted for years to stay up</p>
   <p class="subheading text-center">By industry experts like <a href="https://www.g2.com/products/uptime-com/reviews" target="_blank">G2</a> & <a href="https://www.techradar.com/best/best-website-monitoring-software#2-uptime-com" target="_blank">TechRadar</a> as<br> 
     one of the world's best monitoring solutions.</p>
   <p class="subheading text-center">By thousands of customers for our reliable,<br> 
     award-winning software and support team.</p>
 </div>
 <div class="container bg-white mb-5">
   {% include 'index_logos.html' %}
 </div>
 <div class="container-fluid bg-dark p-5 mt-5">
  <h2 class="text-center text-white takes <span class="text-success">50 milliseconds</span></h2>
  <p class="subheading text-center text-white">for visitors to decide to bounce from your website.</p>
  <hr class="mt-5 bg-success">
</div>
 {% endblock %}

 {% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {

  if ($('.brands_slider').length) {
      var brandsSlider = $('.brands_slider');

      brandsSlider.owlCarousel({
          loop: true,
          autoplay: true,
          autoplayTimeout: 5000,
          nav: false,
          dots: false,
          autoWidth: true,
          items: 8,
          margin: 42
      });

      if ($('.brands_prev').length) {
          var prev = $('.brands_prev');
          prev.on('click', function() {
              brandsSlider.trigger('prev.owl.carousel');
          });
      }

      if ($('.brands_next').length) {
          var next = $('.brands_next');
          next.on('click', function() {
              brandsSlider.trigger('next.owl.carousel');
          });
      }
  }

  });
  </script>
{% endblock %}