{% extends "base.html" %}
{% block title %}
  Website Performance Monitoring | Check Site Uptime
  {%endblock%}
  {% block content %}
    <div class="bg-image-home p-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center text-white">Uptime Means <img src="{{ SITEURL }}/images/Uptime_Means_No_More_404_and_Peace_of_Mind_for_Customers_DT.gif" width="330" style="max-width: 330px; margin-bottom: 24px;"></h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col offset-md-3 col-md-6">
          <p class="subheading text-center text-white">Trusted by thousands of websites to check downtime, page speed, and domain health.</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col col-md-6 offset-md-3 text-center">
          <!--HubSpot Call-to-Action Code -->
          <span class="hs-cta-wrapper" id="hs-cta-wrapper-18e407fd-f7b2-413b-a62e-247208022336">
            <span class="hs-cta-node hs-cta-18e407fd-f7b2-413b-a62e-247208022336" id="hs-cta-18e407fd-f7b2-413b-a62e-247208022336">
              <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
              <a href="https://cta-redirect.hubspot.com/cta/redirect/5040532/18e407fd-f7b2-413b-a62e-247208022336" >
                <img class="hs-cta-img" id="hs-cta-img-18e407fd-f7b2-413b-a62e-247208022336" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/5040532/18e407fd-f7b2-413b-a62e-247208022336.png"  alt="Try For Free"/>
              </a>
          </span>
            <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
            <script type="text/javascript"> hbspt.cta.load(5040532, '18e407fd-f7b2-413b-a62e-247208022336', {"useNewLoader":"true","region":"na1"}); </script>
          </span><!-- end HubSpot Call-to-Action Code -->
        </div>
      </div>
      <div class="row mt-2">
        <div class="col col-md-6 offset-md-3 text-center">
          <!--HubSpot Call-to-Action Code -->
          <span class="hs-cta-wrapper" id="hs-cta-wrapper-8adac41f-7560-4266-b5f3-727a812b48ee">
          <span class="hs-cta-node hs-cta-8adac41f-7560-4266-b5f3-727a812b48ee" id="hs-cta-8adac41f-7560-4266-b5f3-727a812b48ee">
            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
            <a href="https://cta-redirect.hubspot.com/cta/redirect/5040532/8adac41f-7560-4266-b5f3-727a812b48ee" >
              <img class="hs-cta-img" id="hs-cta-img-8adac41f-7560-4266-b5f3-727a812b48ee" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/5040532/8adac41f-7560-4266-b5f3-727a812b48ee.png"  alt="Have questions? Request a demo."/></a></span>
              <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
              <script type="text/javascript"> hbspt.cta.load(5040532, '8adac41f-7560-4266-b5f3-727a812b48ee', {"useNewLoader":"true","region":"na1"}); </script>
          </span>
          <!-- end HubSpot Call-to-Action Code -->
        </div>
      </div>
      <div class="d-flex justify-content-center my-5">
        <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/g2_summer19.png" class="trust-image-home"></a></div>
        <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/g2_fall20.png" class="trust-image-home"></a></div>
        <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/techradar_20.png" class="trust-image-home"></a></div>
        <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/g2_winter21.png" class="trust-image-home"></a></div>
        <div class="p-3"><a href="https://www.g2.com/products/uptime-com/reviews" target="_blank"><img src="{{ SITEURL }}/images/g2_spring22.png" class="trust-image-home"></a></div>
      </div>
    </div>
    <div class="bg-white p-5 mb-5">
      <p class="subheading text-center text-success font-weight-bold">Trusted for years to stay up</p>
      <p class="subheading text-center">By industry experts like <a href="https://www.g2.com/products/uptime-com/reviews" target="_blank">G2</a> & <a href="https://www.techradar.com/best/best-website-monitoring-software#2-uptime-com" target="_blank">TechRadar</a> as<br>
    one of the world's best monitoring solutions.</p>
    <p class="subheading text-center">By thousands of customers for our reliable,<br>
    award-winning software and support team.</p>
  </div>
  <div class="bg-white mb-5">
    {% include 'index_logos.html' %}
  </div>
  <div class="bg-dark p-5 mt-5">
    <h2 class="text-center text-white takes <span class="text-success">50 milliseconds</span></h2>
    <p class="subheading text-center text-white">for visitors to decide to bounce from your website.</p>
    <hr class="mt-5 bg-success">
  </div>
  {% from 'image_block.html' import image_block %}
  {{ image_block("left", "/images/Add_HTTP(S)_Check_400x508.gif",
  "WEBSITE MONITORING CHECKS",
  "Check uptime, all the time, from anywhere",
  "Simplicity is our superpower. Choose domains and configure checks to start monitoring web, network, and email performance at global scale.",
  "bg-success") }}
  {{ image_block("right", "/images/Reduce_False_Website_Downtime_Outage_False_Positives_with_Uptime.webp",
  "DOWNTIME INCIDENT ALERTS",
  "Get notified only when necessary",
  "We're positive you'll see less false positives. Each check is tested from 5+ locations at no extra cost for accurate alerts to any device or DevOps software.",
  "bg-success") }}
  {{ image_block("left", "/images/Best_Technical_Support_Team_for_Website_Uptime_Performance_Monitoring_with_Uptime.com_1100x796.webp",
  "UPTIME MONITORING SUPPORT",
  "Count on top-rated support",
  "Products alone don't solve problems -- people do. Our 100% human support team is the industry's best and available 24/7, so you spend less time finding help and more time resolving incidents.",
  "bg-success") }}
  {{ image_block("right", "/images/Web_Uptime_Dashboard_Monitoring_1100x840.webp",
  "WEBSITE REPORTING & ANALYTICS",
  "Define, design, and display data",
  "Customize system monitoring dashboards to report on critical data across alerts, check types, and SLAs -- segmented by account user or sub-account ",
  "bg-success") }}
  {{ image_block("left", "/images/Real_User_Monitoring_RUM_Dashboard_1150x748_2.webp",
  "REAL USER MONITORING (RUM)",
  "Monitor user experience",
  "Use real data from previous sessions to improve future visits. Define performance benchmarks for page speed, errors, bounce rates, and satisfaction to optimize frontend user experience.",
  "bg-success") }}
  {{ image_block("right", "/images/Website_Status_Pages_for_Outage_Incident_and_Scheduled_Maintenance_Communication_Uptime.com_1160x834.webp",
  "SYSTEM STATUS PAGES",
  "Build trust when incidents happen",
  "Quickly and professionally communicate downtime and outage statuses in the same tool you monitor website performance with.",
  "bg-success") }}
  {{ image_block("left", "/images/Web_Monitoring_Integration_Partners_1000x854.gif",
  "UPTIME MONITORING INTEGRATIONS",
  "Connect to leading DevOps tools",
  "Easily deliver Uptime.com web monitoring data like alert notifications and response time metrics into your team's go-to tools and applications.",
  "bg-success") }}
  {% from 'testimonial.html' import testimonial %}
  {{ testimonial("/images/Easy_To_Configure_Uptime_Checks_Review_Fabian_1000px.webp",
  "bg-success",
  "Perfect monitoring provider",
  "We have tested a few solutions and uptime.com is the best in price performance. The transactions and checks are easy to configure and it is a pleasure to work with. Alerting is available via e-mail, sms, and also phone call. It monitors everything from real user monitoring, to transactions and certificates.")}}
  {% from 'cta_bottom.html' import cta_bottom %}
  {{ cta_bottom("Try before you buy, 100% free",
  ("No credit card required free trial",
  "Flexible monitoring subscriptions",
  "Top-rated uptime software & support")
  )}}
{% endblock %}
