<div class="row-fluid-wrapper row-depth-1 row-number-6 dnd_area-row-1-padding dnd-section">
  <div class="row-fluid ">
    <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12">
      <div class="row-fluid-wrapper row-depth-1 row-number-7 dnd-row">
        <div class="row-fluid ">
          <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
            <div id="hs_cos_wrapper_widget_1631820820797" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
              <div class="sr-invisible fadeInBottom" data-sr-id="9" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0s;">
                <div id="" class="atmc-logo-05_repeater atmc-slider atmc-slider-center slick-initialized slick-slider" data-slider-item="5" data-slider-arrows="false" data-slider-dots="false" data-slider-autoplay="true" data-slider-autoplayspeed="1000" data-slider-infinite="true" data-slider-fade="false" data-slider-height="true" style="opacity: 1;">
                  <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 5566px; transform: translate3d(-1936px, 0px, 0px);">
                      <div class="slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/BNP-Paribas-v2.png" alt="BNP Paribas" width="100%" style="max-width: 268px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/IBM-v2.png" alt="IBM" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/WordPress-v2.png" alt="WordPress" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/lending-page-v2.png" alt="lending page" width="100%" style="max-width: 214px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Heinz-v2.png" alt="Heinz" width="100%" style="max-width: 288px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Reuters-v2.png" alt="Reuters" width="100%" style="max-width: 261px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Apple-v2.png" alt="Apple" width="100%" style="max-width: 191px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Microsoft-v2.png" alt="Microsoft" width="100%" style="max-width: 262px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 242px;">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Ford-v2.png" alt="Ford" width="100%" style="max-width: 182px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 242px;">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/BNP-Paribas-v2.png" alt="BNP Paribas" width="100%" style="max-width: 268px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 242px;">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/IBM-v2.png" alt="IBM" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 242px;">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/WordPress-v2.png" alt="WordPress" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="7" aria-hidden="false" style="width: 242px;">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/lending-page-v2.png" alt="lending page" width="100%" style="max-width: 214px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Heinz-v2.png" alt="Heinz" width="100%" style="max-width: 288px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Reuters-v2.png" alt="Reuters" width="100%" style="max-width: 261px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Apple-v2.png" alt="Apple" width="100%" style="max-width: 191px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Microsoft-v2.png" alt="Microsoft" width="100%" style="max-width: 262px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Ford-v2.png" alt="Ford" width="100%" style="max-width: 182px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/BNP-Paribas-v2.png" alt="BNP Paribas" width="100%" style="max-width: 268px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/IBM-v2.png" alt="IBM" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/WordPress-v2.png" alt="WordPress" width="100%" style="max-width: 159px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/lending-page-v2.png" alt="lending page" width="100%" style="max-width: 214px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 242px;" tabindex="-1">
                        <div>
                          <div class="atmc-logo-05 bg-light " style="width: 100%; display: inline-block;">
                            <img src="{static}/images/home/Heinz-v2.png" alt="Heinz" width="100%" style="max-width: 288px; max-height: 66px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end widget-span -->
        </div>
        <!--end row-->
      </div>
      <!--end row-wrapper -->
    </div>
    <!--end widget-span -->
  </div>
  <!--end row-->
</div>