{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %} {{ page.title|striptags }} | {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

  {% if page.css %}
  <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ page.css }}" />
  {% endif %}


  {% if page.description %}
  <meta name="description" content="{{page.description}}">
  {% else %}
  <meta name="description" content="No more 404. Top-rated website performance monitor for thousands of businesses to check downtime, optimize site speed, and improve domain health. Try free.">
  {% endif %}
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}
{% endblock %}
