{% macro pricing_review(title, stars, date, text, link) -%}
<div class="row mx-5 border-bottom pb-5 mb-5">
  <div class="col-1">
    <img src="{static}/images/Pricing_review_quote.svg">
  </div>
  <div class="col-11">
    <h4>{{ title }}</h4>
    <div class="d-flex">
      {% for i in range( stars|int ) %}
        <img src="{static}/images/Pricing_review_star.svg" style="max-height: 20px;">
      {% endfor %}
      <span class="ml-1">{{ date }}</span>
    </div>
    <p class="mt-2">"{{ text }}"</p>
    <a class="text-success" href="{{ link }}" target="_blank">Read the full review</a>
  </div>
</div>
{%- endmacro %}
