<table class="table table-bordered table-hover">
  <tbody>
    <tr class="sidebar"><td><h3 class="my-2">Read More Stories</h3></td></tr>
    <tr><td><a href="{filename}condeco.md">Condeco</a></td></tr>
    <tr><td><a href="{filename}guild-education.md">Guild Education</a></td></tr>
    <tr><td><a href="{filename}800.md">800.com</a></td></tr>
    <tr><td><a href="{filename}epurple.md">Epurple</a></td></tr>
    <tr><td><a href="{filename}transcepta.md">Transcepta</a></td></tr>
    <tr><td><a href="{filename}socketlabs.md">SocketLabs</a></td></tr>
  </tbody>
</table>