<div class="span3 widget-span widget-type-cell dnd-column dnd_area-column-11-vertical-alignment atmc-sticky-parent" style="position: relative;" data-widget-type="cell" data-x="9" data-w="3">
  <div class="row-fluid-wrapper row-depth-1 row-number-7 dnd-row">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_dnd_area-module-12" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="" class="atmc-menu-01 atmc-card text-left sr-invisible fadeInBottom dnd_area-module-12 atmc-sticky" data-sr-id="6" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0s;">
            <div class="atmc-card_header bg-dark text-white">
              <h5>Read More Stories</h5>
            </div>
            <div class="atmc-menu-01_repeater">
              <span id="hs_cos_wrapper_dnd_area-module-12_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                <div id="hs_menu_wrapper_dnd_area-module-12_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                  <ul role="menu">
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/condeco" role="menuitem" target="_self">Condeco</a></li>
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/newswire" role="menuitem" target="_self">Newswire</a></li>
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/800" role="menuitem" target="_self">800.com</a></li>
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/epurple" role="menuitem" target="_self">Epurple</a></li>
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/transcepta" role="menuitem" target="_self">Transcepta</a></li>
                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ SITEURL }}/go/socketlabs" role="menuitem" target="_self">SocketLabs</a></li>
                  </ul>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->
</div>