<script>
    // $("#resources").on({
    // mouseenter: function () {
    //     $(".atmc-mega-menu_box").css("visibility", "visible").show();
    // },
    // mouseleave: function () {
    //     $(".atmc-mega-menu_box").css("visibility", "hidden").hide();
    // }
// });
</script>

<div class="atmc-mega-menu_box atmc-mega-menu_box-simple text-white atmc-mega-menu_box-col atmc-bg-gray700" data-target="2">
    
    <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
        <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu"><div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
            <ul role="menu" style="visibility: visible; opacity: 1; display: block;" class="open-menu-list">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="/go/resources#support" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Support</a>
                <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://support.uptime.com/hc/en-us" role="menuitem" target="_self">Help Desk</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/api/v1/docs/" role="menuitem" target="_self">API Documentation</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uptime.com/go/quickstart-guide?hsLang=en" role="menuitem" target="_self">Quick Start Guide</a></li>
                </ul></li>
            </ul>
        </div></span>
    </div>
    
    <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
        <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu"><div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
            <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="/go/resources#free-tools" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Free Tools</a>
                <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/domain-health" role="menuitem" target="_self">Domain Health Test</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/freetools/website-speed-test" role="menuitem" target="_self">Website Speed Test</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/freetools/global-uptime-test" role="menuitem" target="_self">Global Uptime Test</a></li>
                </ul></li>
            </ul>
        </div></span>
    </div>
    
    <div class="atmc-mega-menu_links atmc-mega-menu_col  w-1/3 atmc-mega-menu_col-border">
        <span id="hs_cos_wrapper_header_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu"><div id="hs_menu_wrapper_header_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
            <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="/go/resources#insights" aria-haspopup="true" aria-expanded="false" role="menuitem" target="_self">Insights</a>
                <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uptime.com/blog" role="menuitem" target="_self">Blog</a></li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="/go/success-stories" role="menuitem" target="_self">Customer Stories</a></li>
                </ul></li>
            </ul>
        </div></span>
    </div>
    
    
    
</div>