
$sidebar-bg:                                    #18252D;
$sidebar-width:                                 250px;
$sidebar-header-height:                         80px;
$sidebar-header-padding-left:                   30px;
$sidebar-header-padding-right:                  30px;
$sidebar-nav-link-padding-left:                 30px;
$sidebar-nav-link-padding-right:                30px;
$sidebar-nav-link-active-color:                 $white;
$sidebar-nav-submenu-toggle-padding-top:        15px;
$sidebar-nav-submenu-toggle-padding-bottom:     15px;
$sidebar-nav-submenu-toggle-color:              rgba(255,255,255,.5);
$sidebar-nav-submenu-toggle-font-weight:        600;
$sidebar-nav-submenu-toggle-font-size:          16px;
$sidebar-nav-submenu-toggle-line-height:        20px;
$sidebar-nav-submenu-toggle-active-color:       $white;


.ut-sidebar {
    position: relative;
    background: $sidebar-bg;
    z-index: 1000;

    .subaccounts {
        padding: 0 16px 20px 16px;
    }

    .initials {
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        color: $white;
        background-color: $brand-green;
        border-radius: 20px;
    }

    .sidebar-header {
        height: $sidebar-header-height;
        padding-left: $sidebar-header-padding-left;
        padding-right: $sidebar-header-padding-right;
    }

    .sidebar-footer {
        display: none;
    }

    .sidebar-content {
        display: none;
    }

    .sidebar-nav {
        a {
            position: relative;
            display: block;
            padding-left: $sidebar-nav-link-padding-left;
            padding-right: $sidebar-nav-link-padding-right;
        }

        li.has-submenu, li.no-submenu {
            > a {
                font-weight: $sidebar-nav-submenu-toggle-font-weight;
                line-height: $sidebar-nav-submenu-toggle-line-height;
                font-size: $sidebar-nav-submenu-toggle-font-size;
                color: $sidebar-nav-submenu-toggle-color;
                padding-top: $sidebar-nav-submenu-toggle-padding-top;
                padding-bottom: $sidebar-nav-submenu-toggle-padding-bottom;

                &:hover {
                    color: $white;
                    background: darken($sidebar-bg, 2.5%);
                }
            }
        }

        li.has-submenu {
            > a::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 30px;
                margin: auto 0;
                height: 5px;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-bottom: 0;
                border-left: 5px solid transparent;
                color: rgba(211, 218, 223, 0.5);
                transition: all .5s ease;
                display: none;
            }
        }
    }

    .sidebar-nav li.has-submenu.open > a {
        color: $sidebar-nav-submenu-toggle-active-color;
    }

    .sidebar-nav li.has-submenu.open > a::before {
        color: $sidebar-nav-submenu-toggle-active-color;
        transform: rotate(180deg);
    }

    .sidebar-nav li.has-submenu > ul {
        background: #18252D;
        box-shadow: 0px 1px 0px #18252D;
        padding: 10px 0;
    }

    .sidebar-nav li.has-submenu:not(.open) > ul {
        display: none;
    }

    .sidebar-nav li.has-submenu > ul a {
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        color: rgba(255,255,255,.5);
        padding: 5px 10px 5px 58px;

        &:hover {
            color: $white;
        }
    }

    .sidebar-nav li.has-submenu.open > a,
    .sidebar-nav li.no-submenu.open > a {
        color: #fff;
        background: #27363F;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background: $brand-green;
            transition: all .5s ease;
        }

        .far {
            color: rgba(255,255,255,1);
        }
    }

    .sidebar-nav li.has-submenu.open > ul li.active a {
        color: $sidebar-nav-link-active-color;
    }

    .sidebar-nav li.has-submenu.open > ul li.active a::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background: $brand-green;
        transition: all .5s ease;
        display: none;
    }

    .far, .fa, .fas {
        color: rgba(255,255,255,.25);
        margin-right: 4px;
    }

    .profile-nav {
        a {
            position: relative;
            display: block;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .profile-nav li.has-submenu > a {
        font-weight: 500;
        line-height: 20px;
        font-size: 16px;
        color: $grey;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .profile-nav li.has-submenu > a:last-child {
        border-top: 1px solid rgba(255,255,255,.1);
    }

    .profile-nav li.has-submenu > a::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        margin: auto 0;
        height: 5px;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-bottom: 0;
        border-left: 5px solid transparent;
        color: rgba(211, 218, 223, 0.5);
        transition: all .5s ease;
    }

    .profile-nav li.has-submenu.open > a {
        color: $white;
    }

    .profile-nav li.has-submenu.open > a::before {
        color: $white;
        transform: rotate(180deg);
    }

    .profile-nav li.has-submenu > ul {
        background: rgba(24, 37, 45, 0.5);
        box-shadow: 0px 1px 0px #18252D;
    }

    .profile-nav li.has-submenu:not(.open) > ul {
        display: none;
    }

    .profile-nav li.has-submenu > ul a {
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        color: rgba(255,255,255,.5);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .profile-nav li.has-submenu.open > a {
        color: $white;
    }

    .profile-nav li.has-submenu.open > ul li.active a {
        color: $white;
    }

    .profile-nav li.has-submenu.open > ul li.active a::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background: #0074CE;
        transition: all .5s ease;
    }

    .nav-toggle {
        display: block;
        position: relative;
        float: right;
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        width: 37px;
        height: 44px;
        outline: 0;
        box-shadow: 0 0 0 transparent;
        cursor: pointer;
    }

    .nav-toggle:focus {
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }

    .nav-toggle span {
        display: block;
        position: absolute;
        right: 0;
        height: 2px;
        background: $white;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .nav-toggle span:nth-child(1) {
        top: 50%;
        margin-top: -10px;
        width: 100%;
    }

    .nav-toggle span:nth-child(2) {
        top: 50%;
        margin-top: -1px;
        width: 70%;
    }

    .nav-toggle span:nth-child(3) {
        top: 50%;
        margin-top: 8px;
        width: 50%;
    }

    .nav-toggle.open span {
        width: 100%;
    }
}

@include media-breakpoint-up(xl) {
    .ut-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: $sidebar-width;

        .sidebar-content {
            display: block !important;
            overflow-y: auto;
        }

        .sidebar-footer { display: block; }
    }
}
