
//
// Alerts page
//

.alert-details-modal {
    .transaction-step-results {
        > li {
            padding: 3px 8px;
            font-size: 14px;
        }

        > li:nth-child(odd) {
            background: #eee;
        }

        .num {
            @extend .text-muted;
            display: inline-block;
            width: 25px;

        }

        .step {
            display: inline-block;
            max-width: 84%;
            vertical-align: top;
            font-weight: $font-weight-semibold;

            .user-value {
                display: inline-block;
                color: $code-color;
                word-break: break-all;
                font-weight: normal;
            }

            @include media-breakpoint-down(md) {
                max-width: 60%;
            }
        }

        li.command .step { @extend .text-primary; }
        li.validation .step { @extend .text-success; }

        .response {
            @extend .badge;
            @extend .badge-success;
            float: right;
        }

        li.error .response {
            @extend .badge-danger;
            margin-left: 8px;
        }

        .details {
            float: right;
            padding: 0 8px;
        }

        .details-panel {
            font-family: $font-family-monospace;
            font-size: 12px;
        }
    }
}
