
#dashboardDisplay {
    #dashboard-menu {
        .dropdown-item.pinned {
            position: relative;

            &::before {
                @extend .fas;
                content: fa-content($fa-var-map-marker-alt);
                position: absolute;
                top: 9px;
                left: 10px;
                font-size: 9px;
                color: #ccc;
            }
        }

        .dropdown-item.selected {
            background-color: rgba($primary, 0.06);
        }
    }

    #dashboard-global-metrics {
        h6 {
            font-size: 14px;
            margin-bottom: $spacer-4;
            color: $body-color;

            > a > span { color: $body-color; }
            > a:hover > span { color: $link-hover-color; }
        }

        .row { margin: 0; }
        .row > div {
            padding: 0;

            @include media-breakpoint-up(lg) {
                &:not(:last-child) { border-right: $border-width solid $border-color; }
            }

            @include media-breakpoint-between(sm, md) {
                &:nth-child(odd) { border-right: $border-width solid $border-color; }
                &:nth-child(-n+2) > div { border-bottom: $border-width solid $border-color; }
            }

            @include media-breakpoint-down(xs) {
                &:not(:last-child) > div { border-bottom: $border-width solid $border-color; }
            }
        }

        .metric {
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-between;

            &:not(:last-child) {
                padding-bottom: 0.75rem;
                margin-bottom: 0.75rem;
                border-bottom: $border-width dotted $border-color;
            }

            > span:first-child,
            > a:first-child {
                color: $text-muted;
            }

            > a:first-child:hover { color: darken($text-muted, 25%); }

            > span:last-child,
            > a:last-child {
                font-weight: bold;
                color: $body-color;
            }

            > a:last-child:hover { color: lighten($body-color, 25%); }

            &.danger {
                > span:first-child > i,
                > a:first-child > i {
                    @extend .fas;
                    @extend .fa-exclamation-circle;
                    @extend .text-danger;
                    margin-right: 0.4rem;
                }

                > span:last-child,
                > a:last-child {
                    @extend .text-danger;
                }
            }

            &.warning {
                > span:first-child > i,
                > a:first-child > i {
                    @extend .fas;
                    @extend .fa-exclamation-circle;
                    @extend .text-warning;
                    margin-right: 0.4rem;
                }

                > span:last-child,
                > a:last-child {
                    @extend .text-warning;
                }
            }

            &.success {
                > span:last-child,
                > a:last-child {
                    @extend .text-success;
                }
            }
        }
    }

    #dashboard-checks .check-card {
        @extend .white-block;
        @extend .white-block-border;
        display: block;
        height: 100%;
        color: inherit;

        canvas { cursor: default; }

        .check-status-color {
            height: 3px;
            border-radius: 4px 4px 0 0;
            &.paused { background-color: #bbbbbb; }
            &.up { background-color: #4dce62; }
            &.down { background-color: $red; }
        }

        .check-title {
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-between;
            padding: $spacer-3;
            border-bottom: $border-width dotted $border-color;
            font-size: 14px;

            > div:first-child { min-width: 0; }
            > div:last-child {
                flex-shrink: 0;
                margin-left: $spacer-3;
            }

            h6 {
                font-size: 14px;
                margin-bottom: 0;
                color: inherit;
            }

            p { margin-bottom: 0; }

            i.fa-wrench {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                color: white;
                background-color: $yellow;
                text-align: center;
                padding: 8px 0 0 1px;
            }
        }

        .check-stats {
            padding: $spacer-3;

            p.stat-name {
                margin-bottom: 1px;
                font-size: 13px;
                color: $text-muted;
            }

            p.stat-value {
                margin-bottom: $spacer-3;
                font-size: 18px;

                &:last-child { margin-bottom: 0; }
            }
        }
    }
}

.blog-embed {
    .post {
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(45,56,61,0.03), 0 2px 12px 0 rgba(42,51,56,0.10);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 100%;
        position: relative;

        .txt {
            padding: .5rem 1.5rem 2.5rem;
        }

        .categories {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 1px solid #a4adba;
            margin: 0 0 1rem;
            padding: 0 5rem .5rem 0;
            font-size: 14px;

            a {
                color: $primary;
            }
        }

        h4 {
            a {
                color: black;
            }
        }

        .post-meta {
            font-size: 12px;
            font-weight: 600;
            margin: 0 0 1rem;
        }

        .excerpt {
            color: $light-4;
            font-size: 16px;
            margin: 0 0 1rem;
        }

        .btn {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            margin: 0;
            text-align: left;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    h1, h2 {
        font-weight: 600;
    }

    .aligncenter {
        display: block;
        margin: 0 auto 1rem;
    }

    .alignnone {
        display: block;
        margin: 0 0 1rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }


}

.whatsnew-container {
    padding: 0 30px;

    h1, h2 {
        color: black;
    }
}

#whatsnewDisplay {
    color: $yellow;

    .fa {
        color: $yellow;
    }
}
