#cookie-banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1100;
    padding: 20px 0;
    background-color: $dark-3;

    a { color: lighten($link-color, 15%); }
}
