
//
// Dashboard containers
//

.ut-dashboard-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

@include media-breakpoint-up(xl) {
    .ut-dashboard-content {
        padding-top: 0;
        padding-left: $sidebar-width;
    }

    .ut-dashboard-content .content-container {
        padding: 30px;
        max-width: 1400px;
        margin: auto;
    }
}

body.fullscreen {
    .ut-sidebar { display: none; }
    .ut-dashboard-content { padding-left: 0; }
}

//
// Marketing
//

.body-marketing #alert-messages .alert:first-child {
    margin-top: $spacer-4;
}
