
//
// Dashboard headings
//

.body-userpanel h1.heading {
    font-size: 28px;
    font-weight: $font-weight-bold;
    margin-bottom: 2.25rem;
    margin-right: $spacer-2;
    padding-bottom: $spacer-4;
    border-bottom: $hr-border-width solid $hr-border-color;
}

.body-userpanel div.heading-container {
    display: flex;
    @extend .justify-content-between;
    @extend .align-items-center;

    margin-bottom: 2.25rem;
    padding-bottom: $spacer-4;
    border-bottom: $hr-border-width solid $hr-border-color;

    h1.heading {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;

        @include media-breakpoint-down(xs) {
            margin-top: $spacer-2;
            margin-bottom: $spacer-2;
        }
    }
}

//
// Blocks
//

.white-block {
    background: $white;
    border: 0px solid $border-color;
    box-shadow: 0 5px 10px 0 rgba(24,37,45,0.04);
    border-radius: 4px;

    &.white-block-divider:not(:last-child) {
        border-bottom-width: 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & + .white-block {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.white-block-border {
            border-bottom: 0;
        }
    }

    &.white-block-border { border-width: 1px; }

    .white-block-inner-divider {
        border: 0px solid $border-color;
        border-width: 1px 0 0 0;
    }
}

.text-content {
    h3 { margin-top: 30px; }
}

//
// Dropdowns with checks/arrows
//

.dropdown-menu.dropdown-menu-with-selections {
    .dropdown-item {
        position: relative;
        padding: 0.3rem 1.5rem;
        font-size: 14px;
    }

    .dropdown-item > .fa-check,
    .dropdown-item > .fa-caret-right {
        position: absolute;
        top: 8px;
        left: 3px;
        visibility: hidden;
    }

    .dropdown-item.selected > .fa-check,
    .dropdown-item.selected > .fa-caret-right {
        visibility: visible;
    }
}

//
// Tags
//

.tag {
    background: #777777;
    line-height: 16px;
    font-size: 13px;
    color: white;
    padding: 0 4px;
    border-radius: 2px;
    white-space: nowrap;
}

.tag-container-horizontal > .tag:not(:last-child) {
    margin-right: 2px;
}

.tag-container-vertical > .tag {
    float: left;
    clear: both;

    &:not(:last-child) { margin-bottom: 5px; }
}

//
// ListInput React Component
//

.list-input {
    @include list-unstyled;
    margin-bottom: 0;
    padding: $input-padding-y $input-padding-x;
}

//
// Data Tables
//

table.data-table {
    margin-bottom: $spacer-4;

    th, td {
        position: relative;
        vertical-align: middle;
    }

    > thead th { border-top: 0; }

    &.data-table-with-status {
        th:first-child, td:first-child {
            padding-left: 40px;
        }
    }

    i.status {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        width: 24px;
        background-color: $light-2;
        border-left: 2px solid transparent;
        border-radius: 2px;

        &::before {
            position: absolute;
            left: 4px;
            top: 0;
            bottom: 0;
            height: 16px;
            margin: auto 0;
            font-size: 15px;
            line-height: 15px;
        }
    }

    i.status-down, i.status-danger {
        background-color: rgba($red, 0.7);
        border-color:$red;

        &::before {
            @extend .fas;
            content: fa-content($fa-var-exclamation);
            color: $white;
            left: 8px;
        }
    }

    i.status-up, i.status-success {
        border-color: $green;

        &::before {
            @extend .far;
            content: fa-content($fa-var-check);
            color: $green;
        }
    }

    i.status-warning {
        border-color: $yellow;

        &::before {
            @extend .far;
            content: fa-content($fa-var-exclamation);
            color: $yellow;
            left: 7px;
        }
    }

    i.status-muted {
        border-color: $light-4;
    }

    i.status-paused {
        border-color: $light-4;

        &::before {
            @extend .fas;
            content: fa-content($fa-var-pause);
            color: $light-4;
            font-size: 13px;
            left: 5px;
        }
    }

    i.status-ignored { opacity: 0.3; }

    th.with-schedule { width: 1px; }
    td.with-schedule { width: 1px; cursor: help; }

    i.has-schedule {
        &::before {
            @extend .far;
            @extend .fa-lg;
            content: fa-content($fa-var-clock);
            color: $text-muted;
        }
    }

    i.under-maintenance {
        &::before {
            @extend .fas;
            content: fa-content($fa-var-wrench);
            width: 24px;
            height: 24px;
            border-radius: 12px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: white;
            background-color: $yellow;
        }
    }

    td.actions-right {
        text-align: right;
        padding-right: $spacer-4;
    }

    .btn-xs.dropdown-toggle {
        font-size: $font-size-base;
        background: transparent !important;
        border: 0;
        color: $gray-500;

        &:hover { color: #abb1b5;}

        &::before {
            content: 'Actions';
            margin-right: 5px;
        }
    }
}

div.data-table-border {
    margin-bottom: $spacer-4;
    border: 1px solid $border-color;
    border-radius: 4px;

    > .data-table {
        margin-bottom: 0;
    }
}

//
// Status Table
//

.status-table {
    color: $dark-4;

    td:nth-of-type(1),
    th:nth-of-type(1) {
        padding-left: 0;
    }

    td:last-child,
    th:last-child {
        padding-right: 0;
    }

    td, th {
        border-top-color: #f5f5f5;
        vertical-align: middle;
    }

    &.highlight-on-hover tr:hover > td { background: $light-2; }

    th {
        border-top: 0;
        font-weight: 500;
        border-bottom: 1px solid $border-color;
        padding-top: 0;
    }

    th.heading {
        font-size: 18px;
    }

    .status {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 5px;
        border-radius: 3px;
        vertical-align: 2px;
    }

    .status.up, .status.success {
        background: $brand-green;
    }

    .status.warning {
        background: $brand-yellow;
    }

    .status.down, .status.danger {
        background: $brand-red;
    }

    .status.paused, .status.muted {
        background: $brand-gray;
    }
}

//
// Graph Legend
//

.graph-legend {
    .marker {
        @extend .font-12;
        @extend .text-dark-4;

        &:not(:last-child) { margin-right: 15px; }

        &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 2px;
            margin-right: 5px;
            vertical-align: -1px;
        }

        &.up::before { background: #92ebb1; }
        &.down::before { background: #ce0500; }

        &.success::before { background: $brand-green; }
        &.warning::before { background: $brand-yellow; }
        &.danger::before { background: $brand-red; }
        &.paused::before, &.pending::before { background: $brand-gray; }
    }
}

//
// Maps with Pins
//

.map-with-pins {
    position: relative;

    > img {
        width: 100%;
        height: auto;
    }

    > span, > a {
        position: absolute;
        top: -99999px;
        left: -99999px;
        transform: translate3d(-50%, -50%, 0);
        font-size: 0;
        line-height: 0;
        width: 1rem;
        height: 1rem;
        background-color: rgba(219, 50, 92, 0.75);
        border-radius: 50%;
    }

    > .circular-pointer {
        width: 11px;
        height: 11px;
    }

    > .circular-pointer.primary {
        background-color: $brand-green;
        box-shadow: 0 0 1px 5px rgba($primary, 0.4);
    }

    > .circular-pointer.secondary {
        background-color: $brand-green;
        box-shadow: 0 0 1px 5px rgba($secondary, 0.4);
    }

    > .rings {
        position: absolute;
        top: -99999px;
        left: -99999px;
        transform: translate3d(-50%, -50%, 0);
        font-size: 0;
        line-height: 0;
        width: 5px;
        height: 5px;
        background-color: $text-muted;
        border-radius: 50%;
        opacity: 0.9;
    }

    > .rings.md, > .rings.lg {
        width: 6px;
        height: 6px;

        &::before {
            content: '';
            position: absolute;
            top: 42.5%;
            left: 50%;
            padding: 7px;
            background-color: transparent;
            border: 1px solid $text-muted;
            border-radius: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0.7;
        }
    }

    > .rings.lg {
        width: 7px;
        height: 7px;

        &::after{
            content: '';
            position: absolute;
            top: 42.5%;
            left: 50%;
            padding: 12px;
            background-color: transparent;
            border: 1px solid $text-muted;
            border-radius: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0.3;
        }
    }

    > .rings.success {
        background-color: $green;
        &::before, &::after { border-color: $green; }
    }

    > .rings.warning {
        background-color: $yellow;
        &::before, &::after { border-color: $yellow; }
    }

    > .rings.danger {
        background-color: $red;
        &::before, &::after { border-color: $red; }
    }
}

//
// Response Time Line Chart
//

.response-time-chart {
    position: relative;
    height: 55px;

    > canvas {
        width: 100%;
        height: 55px !important;
        min-height: 55px !important;
        max-height: 55px !important;
    }

    &.chart-36 {
        height: 36px;
        > canvas {
            height: 36px !important;
            min-height: 36px !important;
            max-height: 36px !important;
        }
    }

    &.chart-45 {
        height: 45px;
        > canvas {
            height: 45px !important;
            min-height: 45px !important;
            max-height: 45px !important;
        }
    }

    &.chart-75 {
        height: 75px;
        > canvas {
            height: 75px !important;
            min-height: 75px !important;
            max-height: 75px !important;
        }
    }

    &.chart-225 {
        height: 225px;
        > canvas {
            height: 225px !important;
            min-height: 225px !important;
            max-height: 225px !important;
        }
    }
}

.text-center .response-time-chart {
    margin: 0 auto;
}


.linux-terminal-colors {
    background-color: black !important;
    color: #ddd !important;
    font-family: monospace;
    font-size: 0.9em;
}

//
// Toggle Switch (On-Off)
//

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    > input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    > .toggle-switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            border-radius: 50%;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    > input:checked + .toggle-switch-slider {
        background-color: #1AC867;
    }

    > input:focus + .toggle-switch-slider {
        box-shadow: 0 0 0 0.2rem rgba(26, 200, 103, 0.5)
    }

    > input:checked + .toggle-switch-slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    &.disabled > .toggle-switch-slider {
        opacity: 0.35;
        cursor: not-allowed;
    }
}
