.nav-dropdown {
    margin-top:  2.4rem;
    background-color: #292930;
    color: white;
    width: auto;
    min-width: 37rem;
    left: 50%;
    transform: translateX(-50%);
    outline:  none;
}

.nav-dropdown .col :not(:last-child) {
    border-right:  1px solid rgba(255,255,255,0.1)
}

.nav-link {
    outline:  none;
}

.nav-dropdown .row {
    margin-left:  0;
}

.nav-dropdown a {
    color:  white;
}

.nav-dropdown a.title {
    font-family: 'Rubik','sans-serif';
    font-weight: 500;
    font-size: 18px;
}

.nav-dropdown li {
    list-style:  none;
}

.nav-dropdown li > a {
    font-size: .9rem;
    opacity: .8;
    line-height: 1.7;
}

.nav-dropdown ul {
    padding-left:  0;
}

.nav-dropdown a:hover, li:hover {
    color:  #0a6;
}

/* hubspot css */

.form-columns-1, .form-columns-2, .hs-submit  {
    margin-left:  0.25rem !important;
}

.inputs-list {
 margin:0 0 5px;
 width:100%;
 padding-left:0
}
.inputs-list>li {
 display:block;
 padding:0;
 width:100%;
 padding-top:0
}
.inputs-list label {
 display:block;
 float:none;
 width:auto;
 padding:0;
 line-height:18px;
 text-align:left;
 white-space:normal;
 font-weight:normal
}
.inputs-list:first-child {
 padding-top:6px
}
.inputs-list>li+li {
 padding-top:2px
}
.inputs-list label>input,
.inputs-list label>span {
 vertical-align:middle
}

.hs-form-required {
 color:#f15d5e
}

input[type=checkbox],
input[type=radio] {
 -webkit-appearance:none;
 cursor:pointer;
 width:1rem !important;
 height:1rem !important;
 padding:0 !important;
 margin:3px 5px 3px 0px;
 line-height:normal;
 border:0;
 background-color:#fff;
 border-radius:4px;
 border:1px solid #8d8d94;
 outline:0
}

input[type=radio] {
 border-radius:50%
}
input[type=checkbox]:checked,
input[type=radio]:checked {
 background-color:#0a6 !important
}


/* end */

.atmc-intro {
    font-size: 1.2rem;
    line-height: 1.5;
}
