.nav-dropdown {
    margin-top:  2.4rem;
    background-color: #292930;
    color: white;
    width: auto;
    min-width: 37rem;
    left: 50%;
    transform: translateX(-50%);
    outline:  none;
}

.nav-dropdown .col :not(:last-child) {
    border-right:  1px solid rgba(255,255,255,0.1)
}

.nav-link {
    outline:  none;
}

.nav-dropdown .row {
    margin-left:  0;
}

.nav-dropdown a {
    color:  white;
}

.nav-dropdown a.title {
    font-family: 'Rubik','sans-serif';
    font-weight: 500;
    font-size: 18px;
}

.nav-dropdown li {
    list-style:  none;
}

.nav-dropdown li > a {
    font-size: .9rem;
    opacity: .8;
    line-height: 1.7;
}

.nav-dropdown ul {
    padding-left:  0;
}

.nav-dropdown a:hover, li:hover {
    color:  #0a6;
}
