.widget_1640626608986-flexbox-positioning {
  display: -ms-flexbox !important;
  -ms-flex-direction: column !important;
  -ms-flex-align: center !important;
  -ms-flex-pack: start;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start;
}
.widget_1640626608986-flexbox-positioning > div {
  max-width: 100%;
  flex-shrink: 0 !important;
}
.footer-global-row-0-force-full-width-section > .row-fluid {
  max-width: none !important;
}
/* HubSpot Non-stacked Media Query Styles */
@media (min-width:768px) {
  .dnd_area-row-0-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .dnd_area-row-1-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310722971862-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_16310722971862-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1631680165618-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1631680165618-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640716148552-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640716148552-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_16310733131632-row-1-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-6-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-12-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-14-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-15-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-32-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-36-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-40-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-46-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16310733131632-row-48-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_16406266090912-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_16406266090912-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640626609089-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640626609089-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640628580472-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640628580472-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640628580470-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640628580470-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640628590823-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640628590823-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640628693511-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640628693511-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640710328564-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640710328564-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640627453136-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640627453136-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792325487-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792325487-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640710432348-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640710432348-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792372764-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792372764-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640713923590-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640713923590-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792396493-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792396493-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792404263-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792404263-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640713927548-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640713927548-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792412449-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792412449-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640714564154-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640714564154-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1640792420123-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1640792420123-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .footer-global-row-0-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .footer-global-module-1-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .footer-global-module-1-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
}
/* HubSpot Styles (default) */
.dnd_area-row-0-padding {
  padding-top: 60px !important;
  padding-bottom: 10px !important;
}
.dnd_area-row-1-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.dnd_area-row-2-padding {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.dnd_area-row-3-padding {
  padding-top: 50px !important;
  padding-bottom: 60px !important;
}
.cell_16310733131632-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.footer-global-row-0-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}